$main-color: #5861D9;
$accent-color: #FF1D1D;

.header {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.header__profile {
  display: flex;
  align-items: center;
  
  .header__profile--picture {
    margin-right: 0.5em;
    height: 2em;
    width: 2em;
    border-radius: 3em;
    background: $main-color
  }
}

h3 {
  font-weight: 600;
  font-size: 1.3em
}

.posts {
  max-width: 34em;
  margin: 0 auto;
}

.post-form {
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, -50%);
  
  .post-form__input {
    padding: 0.8em;
    border-radius: 1em;
    background: #FFFFFF;
    border: 1px solid $main-color;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);
  }
  .post-form__input:active {
    width: auto;
  }
  .post-form__input:focus {
    min-width: 12em;
    outline: none !important;
    border: 1px solid $main-color;
    box-shadow: 0 0 10px $main-color
  }
  #new_post {
    background: $main-color;
    padding: 1em;
    border-radius: 1em;
    color: white;
    border: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16)
  }
}

#Logout {
  background: $accent-color;
  padding: 1em;
  border-radius: 1em;
  color: white;
  border: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16)
}

.post {
  margin: 1em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);

  .post__content {
    padding: 1em 0;
    margin: 0 1em;
    border-bottom: 1px solid grey;
  }
  .post__weather {
    display: flex;
    padding: 0.8em 1em;
    .post__weather--icon {
      font-size: 0.8em;
    }
    .post__weather--text {
      text-transform: uppercase;
      font-size: 0.8em; 
    } 
  }
  .post__footer {
    display: flex;
    background-color: $main-color;
    color: white;
    padding: 1em;
    justify-content: space-between;
  }
}

@media (min-width: 44em) {
  .post-form {
    position: relative;
    bottom: 0;
    left:0;
    transform: translate(0,0)
  }
}