* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #F2F1F1
}

.small, .error {
  text-align: center;
  margin-top: 1em;
  font-size: 0.8em;
}

.error {
  color: red
}

.blue-background {
  position: fixed;
  width: 100vw;
  background: #BFE6FE;
  height: 100vh;
  z-index: -4
}